body {
  height: 100vh;
  width: 100%;
}
.App {
  height: 100%;
  width: 100%;
}
.App-footer {
  background-color: #fff;
  text-align: center;
}
.hero-content {
  position: relative;
}
.ViewMap {
  height: 100%;
  width: 100%;
  z-index: 1;
}
.content-float {
  position: absolute;
  z-index: 10;
  right: 20px;
  top: 20px;
}
.FormInput {
  margin-bottom: 10px;
}
